@import "init";

.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}
.wrap {
  // position: relative;
  &.addPadding {
    padding-top: 26px;
  }
}
.main {
  // height: 2000px;
  // height: 100%;

  @media screen and (max-width: 768px) {
    overflow: hidden;
  }
}
// system default
@import "layout/system";
